.drag-drop__wrapper {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  user-select: none;
}

.dragg-box {
  width: 200px;
  border: 1px solid #eee;
  /* will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: all 200ms ease 0s; */
}

.dragg-box:hover {
  border-color: red;
}

.target {
  cursor: move;
}

.dragg-box {
  margin-left: 20px;
}

.drop {
  width: 200px;
  margin-top: 200px;
  height: 50px;
  border: 1px solid red;
}

.drag__wrapper {
  display: flex;
  align-items: center;
}